@import "tailwindcss";
@plugin "daisyui";

@layer components {
  html,
  body,
  #root {
    height: 100%;
  }

  #root {
    @apply flex flex-col;
  }

  main {
    @apply grow;
  }

  .login-register-left-section {
    @apply bg-[url(https://picsum.photos/1200)] bg-cover bg-center;
  }

  .main-container {
    @apply max-w-5xl mx-auto;
  }

  .overlay {
    @apply absolute left-0 top-0 bottom-0 w-full bg-black opacity-50 z-10 md:hidden;
  }

  .mainText {
    @apply text-3xl text-center mb-5 font-bold text-white md:text-black;
  }
}

body {
  font-family: monospace;
}

.body-container {
  background-color: #f3f3f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 20px;
}
